.nav {
	display: block;
	text-align: center;
	list-style-type: none;
	li {
		display: inline-block;
		// Could set as breakpoints instead:
		a {
			color: white;
			text-decoration: none;
			// Uppercase in CSS rather than HTML for SEO
			text-transform: uppercase;
			@include attention {
				text-decoration: underline;
			}
		}
	}
	&--header {
		font-size: 30px; /* fallback */
		font-size: calc(20px + 1vw);
		li {
			padding: 2%;
		}
	}
	&--footer {
		font-size: 20px; /* fallback */
		font-size: calc(10px + 1vw);
		li {
			padding: 2%;
		}
	}
}
